/* Estilizando o corpo da página */
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: red;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilizando o container */
.container{
    text-align: center;
    background-color: white;
    padding: 80px;
    border-radius: 10px;
}

h1{
    color: blue;
}

/* Estilizando o input */
input{
    padding: 10px;
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
/* Estilizando o botão */
button{
    padding: 10px;
    background-color: green;
    color: brown;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Efeito hover ao passar o mouse sobre o botão */
button:hover{
    background-color: violet;
}